.body {
  background-color: red;
}
.login-container {
  margin: auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo-login {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 115px;
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.resetpassword-container {
  margin: auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.resetpassword-logo {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 115px;
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.resetpassword-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
